/* Fonts and Colors */
body {
    font-family: 'Roboto', sans-serif;
}

.header,
.row-welcome,
.footer {
    background-color: #1F2937;
}

.row-quote {
    background-color: #E5E7EB;
}

.header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.information-header-text {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.signup-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 4px;
}

.soft-grey-text {
    color: grey;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.container-calltoaction {
    background-color: #3882F6;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.img-icon {
    width: 200px;
    height: auto;
    border: solid #3882F6;
    border-radius: 8px;
}

/* Layout */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

ul {
    display: flex;
    gap: 15px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.row-welcome {
    display: flex;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 100px;
}

.row-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 25px;
}

.row-quote {
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.row-calltoaction {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-calltoaction {
    display: flex;
    padding: 60px;
    margin: 100px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.cards {
    display: flex;
    align-items: center;
    gap: 210px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    gap: 15px;
}